//----------
 //animation
//..........
.slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
	@-webkit-keyframes slideInUp {
	0% {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	visibility: visible;
	}
	100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	}
	}
	@keyframes slideInUp {
	0% {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	visibility: visible;
	}
	100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	}
	} 


body{
    margin: 0;
    padding: 0;
}

a:hover{
    color: tomato;
    text-decoration: none;
     
}
*, ::after, ::before {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Condensed', sans-serif;
}
//navbar
.iconStyle{
    margin-right: 10px;
    border: 2px solid #f6eeee;
    font-size: 30px;
    border-radius: 50%;
    padding: 5px;
    /* background: #ecdfdf; */
    color: #eceae6;
}

//home img style
 .topBennarimg{
    background-image:url('../Images/bannerimg.png') ;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% ;
	padding: 50px;
	
    }
    // .topBennarheding{
    //     position: absolute;
    //     top: 24%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     font-size: 18px;
    // }
	

    //fotter
    .fottercontain{
        background-color: #131212;
    }
 .socialLink{
    font-size: 15px;
    margin-right: 10px;
    color: #b65007eb;
    border: 2px solid #d5760957;
    border-radius: 50%;
    padding: 10px;
 }
 
 .fotterLink :hover{
   color: tomato;
 }
 // futher cart
 .apart {
    background: #ffb900;
    z-index: 1000;
    position: relative;
    padding: 10px 18px;
    width: 55%;
    color: #000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  
}
.sale {
    background: #2b2727;
    padding: 10px;
    text-align: center;
    color: #fff;
    width: 45%;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
     
}
.fuchearcart{
	
	box-shadow: 1px 1px 29px 0px rgba(165, 163, 167, 0.65);
-webkit-box-shadow: 1px 1px 29px 0px rgba(165, 162, 167, 0.65);
-moz-box-shadow: 1px 1px 29px 0px rgba(173, 169, 175, 0.65); 
}
.img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    
  }
  
  /* The Transformation */
  .img-hover-zoom--colorize:hover img {
   
    transform: scale(1.1);
  }
.fucherbgimg{
    background-image: url("../Images/livingroom.jpg");
    margin-top: 45px;
    background-position: bottom;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.fuchearHeading{
    font-weight: 800;
    font-family:'Roboto Condensed', sans-serif;
    margin-top: 30px;
}
// ------POPULAR PLACES-------
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	// max-width: 1000px;
	list-style: none;
	text-align: center;
}
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	// min-width: 320px;
	// max-width: 480px;
	// max-height: 360px;
	// width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure .figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure .figcaption::before,
.grid figure .figcaption::after {
	pointer-events: none;
}

.grid figure .figcaption,
.grid figure .figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.grid figure .figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
figure.effect-layla {
	background: #050e53;
    height: 520px;
}

// figure.effect-layla img {
// 	height: 390px;
// }

figure.effect-layla .figcaption {
	padding: 3em;
}

figure.effect-layla .figcaption::before,
figure.effect-layla .figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla .figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla .figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h2 {
	padding-top: 8%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla .figcaption::before,
figure.effect-layla .figcaption::after,
figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover .figcaption::before,
figure.effect-layla:hover .figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover .figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

///banner-2
.backImg{
	 background-image: url('../Images/pexels.jpg');
	padding: 50px;
    background-position: right;
    background-repeat: no-repeat;
    height: 235px;
	background-size: cover;
}
.benner2Title{
	font-weight: 900;
    font-size: xxx-large;
    color: #f5f6fa;
	background: #a5a51561;
    text-align: center;
}
.banner2-p{
	color: #fafafa;
    letter-spacing: 2px;
    font-size: 20px;
	background: #a5a51561;
    padding: 7px;
}
.banner2-btn{
	background: #a5a51561;
    padding: 20px;
}
//agent 
.cartimg{
	width: 335px;
    height: 415px;
    margin-left: 34px;
    margin-top: -30px;
}
//sells and bay
svg {
	font-family: 'Russo One', sans-serif;
	// position: absolute; 
	width: 100%; height: 100%;
}
svg text {
	text-transform: uppercase;
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #1f0566;
	font-size: 80px;
}
@keyframes stroke {
	0%   {
		fill: rgba(14, 4, 75, 0); stroke: rgb(10, 3, 80);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(10, 5, 85, 0); stroke: rgb(6, 5, 73); }
	80%  {fill: rgba(6, 5, 83, 0); stroke: rgb(6, 10, 80); stroke-width: 3; }
	100% {
		fill: rgb(3, 4, 75); stroke: rgba(15, 4, 78, 0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}