//----------
 //animation
//..........
.slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
	@-webkit-keyframes slideInUp {
	0% {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	visibility: visible;
	}
	100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	}
	}
	@keyframes slideInUp {
	0% {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	visibility: visible;
	}
	100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	}
	} 


body{
    margin: 0;
    padding: 0;
}
a{
	text-decoration: none;
}
a:hover{
    color: #040464;
    text-decoration: none;
     
}
*, ::after, ::before {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Condensed', sans-serif;
}
//navbar
.iconStyle{
    margin-right: 10px;
    border: 2px solid #f6eeee;
    font-size: 30px;
    border-radius: 50%;
    padding: 5px;
    /* background: #ecdfdf; */
    color: #eceae6;
}

//home img style
 .topBennarimg{
    background-image:url('../Images/bannerimg.png') ;
	width: 100%;
    background-repeat: no-repeat;
    background-size:cover ;
	padding: 50px;
	
    }
	.bannerinput{
		height: 45px;
		width: 295px;
	}
	
	
    // .topBennarheding{
    //     position: absolute;
    //     top: 24%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     font-size: 18px;
    // }
	

    //fotter
    .fottercontain{
        background-color: #131212;
    }
 .socialLink{
    font-size: 15px;
    margin-right: 10px;
    color: #b65007eb;
    border: 2px solid #d5760957;
    border-radius: 50%;
    padding: 10px;
 }
 
 .fotterLink :hover{
   color: tomato;
 }
 .qlink:hover {
   margin-left: 5px;
  
   
 }
 // fuchter cart
 .fuchterCart{
	width: 21rem; border:none; margin-left: 8px;
 }
 .apart {
    background: #ffb900;
    z-index: 1000;
    position: relative;
    padding: 10px 18px;
    width: 55%;
    color: #000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  
}
.sale {
    background: #2b2727;
    padding: 10px;
    text-align: center;
    color: #fff;
    width: 45%;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
     
}
.fuchearcart{
	
	box-shadow: 1px 1px 29px 0px rgba(165, 163, 167, 0.65);
-webkit-box-shadow: 1px 1px 29px 0px rgba(165, 162, 167, 0.65);
-moz-box-shadow: 1px 1px 29px 0px rgba(173, 169, 175, 0.65); 
}
.img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    
  }
  
  /* The Transformation */
  .img-hover-zoom--colorize:hover img {
   
    transform: scale(1.1);
  }
.fucherbgimg{
    background-image: url("../Images/livingroom.jpg");
    margin-top: 45px;
    background-position: bottom;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.fuchearHeading{
    font-weight: 800;
    font-family:'Roboto Condensed', sans-serif;
    margin-top: 30px;
}
// ------POPULAR PLACES-------
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	// max-width: 1000px;
	list-style: none;
	text-align: center;
}
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	// min-width: 320px;
	// max-width: 480px;
	// max-height: 360px;
	// width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure .figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure .figcaption::before,
.grid figure .figcaption::after {
	pointer-events: none;
}

.grid figure .figcaption,
.grid figure .figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.grid figure .figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
figure.effect-layla {
	background: #050e53;
    height: 520px;
}

// figure.effect-layla img {
// 	height: 390px;
// }

figure.effect-layla .figcaption {
	padding: 3em;
}

figure.effect-layla .figcaption::before,
figure.effect-layla .figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla .figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla .figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h2 {
	padding-top: 8%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla .figcaption::before,
figure.effect-layla .figcaption::after,
figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover .figcaption::before,
figure.effect-layla:hover .figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover .figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

///banner-2
.backImg{
	 background-image: url('../Images/pexels.jpg');
	padding: 50px;
    background-position: right;
    background-repeat: no-repeat;
    // height: 235px;
	background-size: cover;
	margin-top:50px;
}
.benner2Title{
	font-weight: 900;
    font-size: xxx-large;
    color: #f5f6fa;
	background: #a5a51561;
    text-align: center;
}
.banner2-p{
	color: #fafafa;
    letter-spacing: 2px;
    font-size: 20px;
	background: #a5a51561;
    padding: 7px;
}
.banner2-btn{
	background: #a5a51561;
    padding: 20px;
}
//agent 
.cartimg{
	width: 335px;
    height: 415px;
    margin-left: 34px;
    margin-top: -30px;
}
//sells and bay
svg {
	font-family: 'Russo One', sans-serif;
	// position: absolute; 
	width: 100%; height: 100%;
}
svg text {
	text-transform: uppercase;
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #1f0566;
	font-size: 80px;
}
@keyframes stroke {
	0%   {
		fill: rgba(14, 4, 75, 0); stroke: rgb(10, 3, 80);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(10, 5, 85, 0); stroke: rgb(6, 5, 73); }
	80%  {fill: rgba(6, 5, 83, 0); stroke: rgb(6, 10, 80); stroke-width: 3; }
	100% {
		fill: rgb(3, 4, 75); stroke: rgba(15, 4, 78, 0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
//about page
.aboutItem{
	margin: 5px 0;
	padding:10px ;
}
.aboutItem:hover{
 background: rgb(235, 231, 231);
 margin-left: 7px;
 transition-timing-function: linear;
 transition-delay: 0.2s;
 border-right: 3px solid rgb(29, 3, 92);
 padding:10px ;
 transition: 0.3s;
}

//charman msg
#imgborder {
	border:solid 2px;
	border-bottom-color:#ffe;
	border-left-color:#eed;
	border-right-color:#eed;
	border-top-color:#ccb;
	max-height:100%;
	max-width:100%;
  }
  
  .frame {
	background-color:#ddc;
	border:solid 5vmin #eee;
	border-bottom-color:#fff;
	border-left-color:#eee;
	border-radius:2px;
	border-right-color:#eee;
	border-top-color:#ddd;
	box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
	box-sizing:border-box;
	display:inline-block;
	margin:10vh 18vw;
	height:80vh;
	padding:8vmin;
	position:relative;
	text-align:center;
	&:before {
	  border-radius:2px;
	  bottom:-2vmin;
	  box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
	  content:"";
	  left:-2vmin;
	  position:absolute;
	  right:-2vmin;
	  top:-2vmin;
	}
	&:after {
	  border-radius:2px;
	  bottom:-2.5vmin;
	  box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
	  content:"";
	  left:-2.5vmin;
	  position:absolute;
	  right:-2.5vmin;
	  top:-2.5vmin;
	}
  }
  .charmanstyle{
	  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1089%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1090)'%3e%3c/rect%3e%3cpath d='M1370.9427490826986 478.1917400220013L1422.3988339621744 637.0723366060607 1521.9630273936123 530.3028109313417z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M23.079%2c416.415C44.903%2c415.462%2c67.647%2c409.975%2c78.77%2c391.174C90.061%2c372.09%2c85.903%2c348.352%2c74.649%2c329.246C63.585%2c310.461%2c44.88%2c296.76%2c23.079%2c296.622C1.054%2c296.482%2c-17.645%2c310.111%2c-29.639%2c328.584C-43.048%2c349.236%2c-54.401%2c375.325%2c-41.729%2c396.437C-29.26%2c417.211%2c-1.127%2c417.472%2c23.079%2c416.415' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M445.2006702648751 376.9296088368979L561.7312446395797 372.9714593933436 509.2360941509985 285.6048575122952z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M967.078%2c640.893C996.191%2c639.129%2c1022.646%2c624.382%2c1037.216%2c599.116C1051.773%2c573.873%2c1050.808%2c543.83%2c1038.204%2c517.557C1023.352%2c486.598%2c1001.368%2c454.715%2c967.078%2c452.917C930.577%2c451.004%2c899.51%2c477.411%2c881.746%2c509.355C864.511%2c540.348%2c861.197%2c578.858%2c880.497%2c608.609C898.464%2c636.305%2c934.125%2c642.889%2c967.078%2c640.893' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M137.284%2c309.233C185.6%2c307.151%2c222.689%2c271.245%2c246.363%2c229.075C269.445%2c187.959%2c279.606%2c138.375%2c256.17%2c97.46C232.617%2c56.341%2c184.662%2c37.696%2c137.284%2c38.645C91.647%2c39.559%2c50.741%2c63.467%2c26.368%2c102.061C0.028%2c143.77%2c-12.678%2c195.747%2c10.605%2c239.236C35.01%2c284.821%2c85.625%2c311.46%2c137.284%2c309.233' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-59.48274725699927 484.64593609183964L12.919608079504634 577.3167249558676 105.59039694353257 504.9143696193637 33.18804160702867 412.24358075533576z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1211.329834320671 402.64029548066515L1330.5526219967105 530.7356166057747 1377.823334880787 385.25132177191483z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M275.377%2c509.801C333.865%2c514.439%2c393.531%2c489.494%2c423.615%2c439.122C454.377%2c387.615%2c450.274%2c321.757%2c417.822%2c271.297C387.748%2c224.535%2c330.974%2c208.258%2c275.377%2c208.626C220.557%2c208.989%2c162.054%2c224.84%2c136.161%2c273.161C111.231%2c319.685%2c136.179%2c372.958%2c162.943%2c418.451C189.187%2c463.06%2c223.783%2c505.71%2c275.377%2c509.801' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M626.9345158925726 153.01749391271775L698.0457003642143 74.04052249418507 619.0687289456816 2.9293380225433054 547.9575444740399 81.906309441076z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1096.228%2c180.76C1111.953%2c180.489%2c1124.402%2c169.307%2c1132.509%2c155.831C1140.936%2c141.823%2c1146.78%2c124.573%2c1138.512%2c110.471C1130.309%2c96.479%2c1112.447%2c94.041%2c1096.228%2c93.949C1079.789%2c93.855%2c1061.658%2c95.948%2c1053.1%2c109.984C1044.291%2c124.431%2c1048.906%2c142.672%2c1057.711%2c157.122C1066.113%2c170.91%2c1080.084%2c181.039%2c1096.228%2c180.76' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M801.3725403629239 476.7359402560902L887.2062763078486 501.3483679807373 911.8187040324956 415.51463203581267 825.984968087571 390.9022043111656z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-16.925638011126324-24.140068596060125L16.07703617331768 84.17590876707044 84.8362232309931 12.973686217251199z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M959.5698172849321 52.889680546705264L954.0210052347869 158.76732173004046 1059.898646418122 164.31613378018574 1065.4474584682673 58.43849259685053z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1294.312956857517 369.5241838497838L1389.3519569527086 394.98980717475183 1380.030891892565 239.69849536948038z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M142.21773051107292 173.25072380856903L280.4934224494788 105.80916264371464 213.05186128462444-32.46652929469127 74.77616934621852 34.97503187016312z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1244.394951435508 372.2143634143308L1156.3877739140166 312.85277263282154 1111.3489765024983 474.5443343058132z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1089'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='139.29%25' x2='15.28%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1090'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    /* background: rebeccapurple; */
	height: 50px;
  }

  ////
 .bgimg{
	background-image: radial-gradient(circle at 16% 47%, hsla(197,0%,52%,0.05) 0%, hsla(197,0%,52%,0.05) 11%,transparent 11%, transparent 56%,transparent 56%, transparent 100%),radial-gradient(circle at 86% 9%, hsla(197,0%,52%,0.05) 0%, hsla(197,0%,52%,0.05) 27%,transparent 27%, transparent 68%,transparent 68%, transparent 100%),radial-gradient(circle at 26% 50%, hsla(197,0%,52%,0.05) 0%, hsla(197,0%,52%,0.05) 32%,transparent 32%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 55% 18%, hsla(197,0%,52%,0.05) 0%, hsla(197,0%,52%,0.05) 44%,transparent 44%, transparent 49%,transparent 49%, transparent 100%),radial-gradient(circle at 42% 50%, hsla(197,0%,52%,0.05) 0%, hsla(197,0%,52%,0.05) 38%,transparent 38%, transparent 55%,transparent 55%, transparent 100%),linear-gradient(90deg, hsl(206,0%,96%),hsl(206,0%,96%));
}

//proparty list 
.flip-2-ver-left-fwd {
	-webkit-animation: flip-2-ver-left-fwd 5s steps(15, start) 1s infinite both;
	        animation: flip-2-ver-left-fwd 5s steps(15, start) 1s infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-8-7 16:44:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-2-ver-left-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes flip-2-ver-left-fwd {
	0% {
	  -webkit-transform: translateX(0) translateZ(0) rotateY(0);
			  transform: translateX(0) translateZ(0) rotateY(0);
	  -webkit-transform-origin: 0% 50%;
			  transform-origin: 0% 50%;
	}
	100% {
	  -webkit-transform: translateX(-100%) translateZ(160px) rotateY(180deg);
			  transform: translateX(-100%) translateZ(160px) rotateY(180deg);
	  -webkit-transform-origin: 100% 0%;
			  transform-origin: 100% 0%;
	}
  }
  @keyframes flip-2-ver-left-fwd {
	0% {
	  -webkit-transform: translateX(0) translateZ(0) rotateY(0);
			  transform: translateX(0) translateZ(0) rotateY(0);
	  -webkit-transform-origin: 0% 50%;
			  transform-origin: 0% 50%;
	}
	100% {
	  -webkit-transform: translateX(-100%) translateZ(160px) rotateY(180deg);
			  transform: translateX(-100%) translateZ(160px) rotateY(180deg);
	  -webkit-transform-origin: 100% 0%;
			  transform-origin: 100% 0%;
	}
  }
  
  //Projects 
  .projectimg{
	 background-image: url("../Images/bannerimg.png");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 200px;
	
  }
  .projectHeading{
	text-align: center;
    
    color: #ececf2;
    letter-spacing: 20px;
    font-weight: 800;
}
.PROSTYLE {
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translate(-50%, -50%);
	display: block;
	color: #ff6347;
	font-size: 124px;
	letter-spacing: 8px;
	cursor: pointer;
  }
  
  .PROSTYLE::before {
	content: "PROJECTS";
	position: absolute;
	color: transparent;
	background-image: repeating-linear-gradient(
	  45deg,
	  transparent 0,
	  transparent 2px,
	  white 2px,
	  white 4px
	);
	 -webkit-background-clip: text;
	top: 0px;
	left: 0;
	z-index: -1;
	transition: 1s;
  }
  
  .PROSTYLE::after {
	content: "PROJECTS";
	position: absolute;
	color: transparent;
	background-image: repeating-linear-gradient(
	  135deg,
	  transparent 0,
	  transparent 2px,
	  white 2px,
	  white 4px
	);
    -webkit-background-clip: text;
	top: 0px;
	left: 0px;
	transition: 1s;
  }
  
  .PROSTYLE:hover:before {
	top: 10px;
	left: 10px;
  }
  
  .PROSTYLE:hover:after {
	top: -10px;
	left: -10px;
  } 
  //apartment
  .apartmentrow:hover{
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
  }
  .pulsate-fwd {
	-webkit-animation: pulsate-fwd 3s ease-in-out 5s infinite both;
	        animation: pulsate-fwd 3s ease-in-out 5s infinite both;
}
@-webkit-keyframes pulsate-fwd {
	0% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
	50% {
	  -webkit-transform: scale(1.1);
			  transform: scale(1.1);
			  color:'green';
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
			  color:'green';
	}
  }
  @keyframes pulsate-fwd {
	0% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
	50% {
	  -webkit-transform: scale(1.1);
			  transform: scale(1.1);
			  color:'green';
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
			  color:'green';
	}
  }
  .imgLink{
	  position: absolute;
  }
  .overlay {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background-color: red;
  }
  
  /* When you mouse over the container, fade in the overlay icon*/
  .imgLink:hover .overlay {
	opacity: 1;
  }
  //contact page
  .contact{
	position: relative;
	text-align: center;
	
  }
  .contact-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: xxx-large;
    font-weight: 900;
	color: antiquewhite;
    background: #2329e240;
    padding: 10px 20px 0 20px;
  }
  
  //project details
  .projectDetails{
	background: #f2f0eb;
    padding: 10px;
    border-radius: 20px;
  }